@font-face {
    font-family: 'Circe';
    src:url('./fonts/Circe_Regular.otf');
    font-family:'Circe_Bold'; 
    src:url('./fonts/Circe_Bold.otf');
}
*{
    margin: 0;
    padding: 0;
}
body{
    font-family: 'Circe';
    color: #272727;
}
.container_default{
    margin: 0px auto;
    max-width: 1320px;
}
.header{
    
}
.flex_block{
    display: flex;
    flex-direction: row;
    align-items: center;
}
.nav{
    max-height: 83px;
    min-height: 70px;
    justify-content: space-between;
}
.nav_block{
    width: 33%;
}
.nav_block_left{
    justify-content:flex-start;
    padding-left:2%;
}
.nav_block_center{
    justify-content:center;
}
.nav_block_right{
    justify-content: flex-end;
}
.nav_block_link{
    text-decoration: none;
    color: #272727;
}
.nav_link_center{
    margin:0 1.5% 0 1.5%;
    padding:2px 23px 2px 23px;
    display: block;
    white-space: nowrap;
    font-size: 12px;
}
.nav_block_link_community{
    border: 1px solid;
    border-radius: 30px;
}
.nav_block_link_icon{
    margin-left: 20px;
}
.main{
    background-color:#F9EDE7;
}
.main_section_1{
    min-height: 600px;
    justify-content: space-between;
}
.Hello_block{
    max-width: 25%;
}
.Hello{
    font-size: 64px;
    margin-bottom: 20px;
}
.p_section_1{
    font-size: 18px;
    margin-bottom: 70px;
}
.buttom_section_1{
    display: block;
    font-size: 18px;
    background: #FFE69B;
    box-shadow: 0px 8px 18px -6px rgba(24, 39, 75, 0.12), 0px 12px 42px -4px rgba(24, 39, 75, 0.12);
    border-radius: 80px;
    text-align: center;

}
.img_section_1{
    margin-right: -60px;
}
